
.shortenerAppBox{
  border: 1px grey solid;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  width: max-content;
  margin: 1rem;
  padding: 1rem;
  background-color:rgb(221, 220, 255);
}

.shortenerContainer{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.shortenerInput{
  padding: 1rem;
}

.shortenerInputResult{
  padding: 1rem;

}

.shortenerSubmitButton{
  
}

.inputBox{
  width: 30rem;
}